@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// PRIMI DATI
// font
.font-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h2{
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h3{
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text-first{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.text-secondary{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

// color
//text
.text-blue{
    color: #005f73;
}
.text-yellow{
    color: #ffcb69;
}
.text-green{
    color: #2a9d8f;
}
//background
.bg-blue{
    background-color: #005f73;
}
.bg-yellow{
    background-color: #ffcb69;
}
.bg-green{
    background-color: #2a9d8f;
}

//btn
.btn-green{
    background-color: #2a9d8f;
    color: white;
    font-weight: 600;
    &:hover{
        background-color: #005f73;
        color: #ffcb69;
    }
}
.btn-blue{
    background-color: #005f73;
    color: white;
    font-weight: 500;
    &:hover{
        background-color: #2a9d8f;
        color: white;
    }
}

.navbar-hover{
    &:hover{
        color: #ffcb69;
    }
}


.logo{
    width: 30%;
}

.modal-dialog{
    min-width: 80vw;
}


